{% load static %}
<link rel="stylesheet" href="{{ settings.TRUE_STATIC }}/static/css/normalize.css">
<link rel="stylesheet" href="{{ settings.TRUE_STATIC }}/static/css/theme.css">
<link rel="stylesheet" href="{{ settings.TRUE_STATIC }}/static/css/base.css">
<link rel="stylesheet" href="{{ settings.TRUE_STATIC }}/static/css/layout.css">
<link rel="stylesheet" href="{{ settings.TRUE_STATIC }}/static/css/components.css">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">
