<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <script>
        const theme = localStorage.getItem('theme');
        if (theme !== null) {
            document.documentElement.setAttribute('theme', theme);
        }
    </script>
    <title>{{ settings.APP_NAME|safe }}</title>
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/css.html" %}
</head>
<body>

{% block body %}
    {% block menu %}
        <div class="menu">
            <div class="menu-theme-switcher">
                <label class="theme-switcher" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <span class="slider round"></span>
              </label>
            </div>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}

{% include "common/js.html" %}
</body>
</html>
